# =========================
# PYTHON / DJANGO
# =========================

# Virtual Environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
*.log
media/

# Environment variables
.env
.env.*

# Static files
staticfiles/

# PyCharm
.idea/

# VS Code
.vscode/

# =========================
# NODE / REACT
# =========================

# Dependencies
node_modules/

# Build folders
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vite
.vite/

# =========================
# OS FILES
# =========================

# Windows
Thumbs.db

# macOS
.DS_Store

# =========================
# GIT
# =========================

# Optional
*.swp
*.swo